.site-index
{
    padding-top: 58px;

}

.banner-index
{
    min-height: calc(100vh - 57px);
    background: #a0c5ff;
    display: flex;
}

.banner-about
{
    width: 400px;
    height: 400px;
    background-color: #adadad7a;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 110px;
}

.banner-index .about-bar
{
    border: 5px solid #fff;
    border-radius: 20px;
}

.banner-index .about-bar ul
{
    margin: 0;
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 10px 5px;
}

.banner-index .about-bar ul li a
{
    
}