.site-index
{
    padding-top: 58px;

}

.banner-index
{
    position: relative;
    min-height: calc(100vh - 57px);
    background: #9d9d9c8f;
    display: flex;
}

.banner-back1,
.banner-back2
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.banner-back2
{
    background-color: #008ca2;
    clip-path: polygon(0 0, 0% 100%, 60% 100%);
}

.banner-about
{
    width: 400px;
    height: 400px;
    background-color: #ffffff4d;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    flex-direction: column;
    margin-bottom: 110px;
    margin-left: 60px;
    padding: 25px 0 25px 35px;
}

.banner-about h1
{
    font-size: 3.9rem;
    color: #000;
}

.banner-about button
{
    background-color: #fff0;
    color: #fff;
    border-radius: 35px;
    border: 3px solid #fff;
    padding: 10px 25px;
    transition: 1s;
}

.banner-about button:hover
{
    background-color: #ffffff;
    color: #fff;
    border-radius: 35px;
    border: 3px solid #fff;
    padding: 10px 25px;
}

.banner-about button a
{
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    transition: 1s;
}

.banner-about button:hover a
{
    color: #008ca2;
}

.banner-index .row-primary
{
    z-index: 1;
}

.banner-index .about-bar
{
    border: 5px solid #fff;
    background-color: #008ca2;
    border-radius: 20px;
}

.banner-index .about-bar ul
{
    margin: 0;
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 20px 5px;
}

.banner-index .about-bar ul li a
{
    color: #fff;
    font-weight: 700;
}

/*----------------------------------------------------BANNER END*/

/*----------------------------------------------------SOLUTIONS START*/
.solutions-index
{
    padding: 80px 0;
}

.solutions-index .solutions-title
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 25px;
}

.solutions-index .solutions-title h2
{
    font-size: 40px;
}

.solutions-index .solutions-title h2,
.solutions-index .row-primary:nth-child(2)
{
    color: #737373;
    font-weight: 400;
}

.solutions-index .row-primary:nth-child(2)
{
    text-align: center;
    font-size: 22px;
}

.solutions-index .solutions-title .line-blue
{ 
    height: 6px;
    width: 29%;
    background-color: #008ca278;
}

.solutions-index .row-primary:nth-child(3)
{
    margin-top: 40px;
}

.solutions-index .solution-item
{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.solutions-index .solution-item h3
{
    color: #008ca2;
}

.solutions-index .solution-item:nth-child(2),
.solutions-index .solution-item:nth-child(3)
{
    margin-top: 120px;
}

.circle-log-border
{
    border: 3px solid #008ca2;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    padding: 5px;
}

.circle-log
{
    width: 100%;
    height: 100%;
    background-color: #008ca2;
    border-radius: 50%;
}

/*----------------------------------------------------SOLUTIONS END*/

/*----------------------------------------------------CLIENTS START*/
.clients-index
{
    padding: 10px 0;
}

.clients-index .row-primary:nth-child(1)
{
    text-align: center;
    font-size: 22px;
    color: #7a7a7a;
    font-weight: 700;
}

/*----------------------------------------------------CLIENTS END*/

/*----------------------------------------------------TEST START*/

.testimonials-index
{
    background-color: #008ca2;
    min-height: 40vh;
}

.testimonials-index .title h2
{
    text-align: center;
    font-size: 55px;
    font-weight: 700;
    color: #fff;
}

/*----------------------------------------------------TEST END*/

/*----------------------------------------------------SERVICES START*/



/*----------------------------------------------------SERVICES END*/