*{
    box-sizing: border-box !important;
}

.section-primary
{
    width: 100%;
}

.row-primary
{
    width: 90%;
    max-width: 1400px;
    margin: auto;
}

header .row-primary
{
    display: flex;
    justify-content: space-between;
}

header .nav-typefactor ul li a
{
    color: #000;
}